@import '../../variables';

.topic{

    .overline{
        width: 3rem;
        height: 0.4rem;
        background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    }

    h2{
        color: $font-white;
    }

    p{
        color: $font-blue;
    }
}