@import '../../variables';

.topic{

    max-width: fit-content;

    .overline{
        width: 3rem;
        height: 0.4rem;
        background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    }

}

