@import '../../variables';

.nav{
    max-width: 73.083rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: rgb(253, 253, 253);
    

    .logo{
        height: 3.625rem;
        background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
        
    }

    ul{
        display: flex;
        justify-content: end;
        align-content: center;
        width: 40rem;
        list-style: none;
        
        
        a{
            
            color: $font-white;
            text-decoration: none;

            
        }
        a:not(:first-child){
            margin-left: 3rem;
        }
        
    }
    h2{
        color: $font-white;
    }
    
}